// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

$c-midnightblue: #083451;
$c-white: #fff;
$c-thinborder: #ddd;
$c-clear: rgba(0, 0, 0, 0);
$c-text-shadow: rgba(0, 0, 0, 0.5);

$c-transparentblue: rgba(7, 80, 135, 0.8);
$c-transparentred: rgba(197, 105, 106, 0.75);
$c-transparentyellow: rgba(253, 204, 82, 0.65);

$c-sunset: linear-gradient(330deg, $c-transparentblue, $c-transparentred 75%, $c-transparentyellow);








// imports
@import 'box-sizing';
@import 'resets';
@import 'components/banner';
@import 'components/popularposts';
