// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

$c-midnightblue: #083451;
$c-blue: #106db3;
$c-readablegrey: #444;
$c-white: #fff;
$c-thinborder: #ddd;
$c-clear: rgba(0, 0, 0, 0);
$c-text-shadow: rgba(0, 0, 0, 0.5);

$c-transparentblue: rgba(7, 80, 135, 0.8);
$c-transparentred: rgba(197, 105, 106, 0.75);
$c-transparentyellow: rgba(253, 204, 82, 0.65);

$c-sunset: linear-gradient(330deg, $c-transparentblue, $c-transparentred 75%, $c-transparentyellow);


.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}

.main > * {
  border: 1px solid red;
}


.post {
  // stuff
}

//Author styles
.author {
  display: flex;
  align-items: center;
  color: lighten($c-readablegrey, 50%);

  & > * {
    margin: 0  0.25rem;
  }

  &__image {
    width: 1.5rem;
    margin-left: 0;
    border-radius: 50%;
  }

  &__name {
    color: $c-blue;
    text-decoration: none;
  }

  &__post-date {
    margin-right: 0;
    text-decoration: underline;
  }
}


.sidebar  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}




// imports
@import 'box-sizing';
@import 'resets';
@import 'components/banner';
@import 'components/popularposts';
