// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

$c-midnightblue: #083451;
$c-white: #fff;
$c-thinborder: #ddd;

$c-text-shadow: rgba(0, 0, 0, 0.25);

$c-transparentblue: rgba(7, 80, 135, 0.75);
$c-transparentred: rgba(197, 105, 106, 0.75);
$c-transparentyellow: rgba(253, 204, 82, 0.65);


footer {
  margin-top: 5rem;
  border-top: 0.1rem $c-thinborder solid;
  text-align: center;
}

.grid {
  display: flex;

  &__item {
    width: calc(100% / 4);
    margin: 0;
    min-height: 25rem;
    background: red;
  }
}

.preview__image {
  width: 100%;
  min-height: 20rem;
  object-fit: cover;
}




// imports
@import 'box-sizing';
@import 'resets';
@import 'components/banner';
