//footer
.footer {
  padding: 2rem;
  background: $c-midnightblue;
  color: lighten($c-readablegrey, 30%);
  font-size: 0.9rem;
  font-weight: 300;


  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 65rem;
    margin: 0 auto;
  }

  &__left {
    display: flex;
    align-items: center;

    &-pic {
      margin-right: 1rem;
    }
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;

  &__item {
    padding: 0 0.5rem;
    border-right: 0.1rem solid lighten($c-readablegrey, 30%);

    &:last-of-type {
      border-right: 0;
    }
  }
}
