.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  color: $c-readablegrey;

}

// Post Styles
.post {
  margin-right: $m-gutter;

  &__title {
    margin: 0;
    color: $c-midnightblue;
    font-size: 3.5rem;
    line-height: 4rem;
    // font-weight: 500;
    text-transform: uppercase;
  }

  & p {
    line-height: 1.75rem;
  }

  & > p {
    margin-bottom: 2rem;
  }

  & > blockquote {
    margin: 0 0 2rem 0.5rem;
    padding: 1rem 0 1rem 1rem;
    border-left: solid $c-thinborder 0.15rem;

    color: $c-blue;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

// post buttons
.btn {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  background: lighten($c-readablegrey, 25%);
  color: $c-white;
  font-size: 1rem;
  font-weight: 300;


  &:hover {
    background: $c-blue;

    & > .fa {
      background: $c-midnightblue;
    }

    & > span {
      background: $c-blue;
    }
  }

  & > .fa {
    padding: 0.75rem;
    background: $c-readablegrey;
  }

  & span {
    padding: 0 0.75rem;
  }
}


//Author styles
.author {
  display: flex;
  align-items: center;
  margin-top: 0;
  color: lighten($c-readablegrey, 25%);

  & > * {
    margin: 0  0.25rem;
  }

  &__image {
    width: 1.5rem;
    margin-left: 0;
    border-radius: 50%;
  }

  &__name {
    margin-right: 1rem;
    color: $c-blue;
    text-decoration: none;
  }

  &__post-date {
    margin-right: 0;
    text-decoration: underline;
  }
}
